.title-dashboard-header{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-dashboard-header .icon{
    color: #333;
    font-size: 25px;
    cursor: pointer;
}
.title-dashboard-header h1 {
    font-size: 20px;
}
.line-dashboard-header{
    border-bottom: 1px solid #e2e2e2;
}

.hamburguer-icon{
    background-color: red;
}

.active{
    left: 0;
}
.icon{
    display: none;
}

@media screen and (max-width:1004px) {
    .icon{
        display: block;
    }
}