.title-table{
    font-size: 15px;
}

.table-container{
    margin-top: 20px;
}

.span-nivel-estoque{
    margin-left: 5px;
    padding: 5px;
}

.remove-confirme{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 500px;
    padding: 30px;

    background-color: #fff;
    border-radius: 7px;
}
.remove-confirme h1{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.remove-confirme span{
    color: #52525b;
}
.remove-confirme button{
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 20px;
}
.remove-confirme button:hover{
    filter: brightness(0.9);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}